<launch>

    <arg name="rviz" default="True"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    </include>


    <param name="robot_description"
           command="$(find xacro)/xacro --inorder $(find gelsight_description)/urdf/gelsight2014.xacro"></param>

    <node name="spawn_gelsight"
          pkg="gazebo_ros"
          type="spawn_model"
          args="-param robot_description -urdf -model gelsight2014"></node>

    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz"
          args="-d $(find gelsight_description)/launch/config.rviz"/>



</launch>